@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
}

.btn {
  @apply bg-[#EDEDED] text-gray-800 py-2 px-4 rounded hover:bg-white focus:bg-[#EBF3FF];
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.editor-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  background-color: #220505;
}

.editor-container > div {
  flex: 1;
  margin: 10px;
}

iframe {
  width: 100%;
  margin-top: 10px;
}

.monaco-editor .monaco-editor-background,
.monaco-editor .margin,
.monaco-editor .monaco-editor {
  background-color: #f0f0f0 !important;
  height: 100vh;
}